/* 
# --------------------
# Main HTML body 
# -------------------- 
*/

body {
    /* font-family: "Lato", sans-serif; */
    font-family: 'Merriweather', Georgia, serif;
    color: #333;
    line-height: 1.6;
    transition: margin-left .5s;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4 {
    /* color: var(--hnn-violet); */
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

a {
    color: var(--hnn-violet);
}

a:hover {
    color: var(--hnn-purple);
  }

#main {
    transition: margin-left 0.5s;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-wrapper {
    width: 100%;
    max-width: 920px;
    padding: 0 40px;
    box-sizing: border-box;
}

#content {
    padding: 10px;
    width: 100%;
    font-size: 20px;

}

#content p {
    font-family: 'Merriweather', Georgia, serif;
    display: block;
    color: inherit;
    font-size: inherit;
    padding: 0px;
    line-height: 1.6;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    white-space: normal;
}

#content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Inline code (single backtick) */
code {
    color: var(--hnn-violet);
    background-color: #f6f8fa;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    font-size: 85%;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 
    font-weight: normal;
    border: 1px solid #e1e4e8;
  }
  
  /* Block code (triple backticks) */
  pre code {
    color: #24292e;
    background-color: #f6f8fa;
    display: block;
    padding: 16px;
    overflow-x: auto;
    border-radius: 6px;
    font-size: 85%;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    border: 1px solid #e1e4e8; /* Consistent border style */
  }

/* 
# --------------------
# Sidebar 
# -------------------- 
*/

.sidebar {
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #88548c;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden; 
    transition: 0.3s;
    padding-top: 10px;
}

/* hide scrollbar for WebKit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar a, p {
    padding: 8px 24px 8px 24px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar p {
    margin: 0px;
}

.sidebar a:hover {
    color: var(--hnn-yellow);
}

.sidebar .toggle-icon {
    float: right;
    font-weight: bold;
    transition: transform 0.3s;
}

.submenu {
    display: none; /* hide submenu by default */
    padding-left: 20px; /* indentation for the submenu items */
}

.sidebar-list .submenu {
    display: none;  /* hide submenus by default */
    margin-left: 0px;  /* indentation for submenu items */
}

.sidebar-list .submenu.open {
    display: block;  /* show the submenu when the 'open' class is added */
    transition: max-height 0.3s ease-in-out; /* smooth transition */
}

/* 
# --------------------
# Topbar
# -------------------- 
*/

.topbar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0px;
    border-bottom: 2.5px solid lightgrey;
    width: 100%;
    position: relative; 
        /* 'relative' needed for the img centering */

}

.topbar img {
    height: 30px;
    width: auto;
    /* Center img around topbar */
    position: absolute;
        /* requires 'position: relative' in .topbar */
    left: 50%;
    transform: translateX(-50%);
        /*  'transform' offsets the image's width */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.topbar:hover img {
    opacity: 1; /* Make the image visible when hovering over the topbar */
}

/* Social media icons */
/* ------------------ */

.socials-container {
    margin-left: auto;
    height: inherit;
}



/* Collapse navbar */
/* --------------- */

.openbtn {
    font-size: 25px;
    cursor: pointer;
    background: none;
    color: #bababa;
    padding: 0px 5px 3px 20px;
    border: none;
    height: inherit;
}

.openbtn:hover {
    color: #444;
}

/* Home button */
/* ----------- */

.home-link {
    display: inline-flex;
    text-decoration: none;
    height: inherit;
    padding: 0px 5px;
  }

.home-icon-container {
    height: inherit;
    align-items: center;
    position: relative;
    display: inline-flex;

}

.home-icon {
    fill: #bababa; /* Default color */
    height: 22px;
    width: auto;
    /* transition: fill 0.3s ease; */
}

/* Light versus dark mode */
/* ---------------------- */

.theme-toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto; 
    height: inherit; 
    border: none; 
    background: none;
    padding: 0 5px; 
    /* transition: transform 0.3s ease; */
}

.theme-toggle svg {
    width: 20px; 
    height: 20px;
    fill: #bababa; 
}

body.dark-mode {
    background-color: #14181e;
    color: #d3d3d3;
}

body.dark-mode #content-wrapper a {
    color: var(--hnn-yellow);
}

body.dark-mode #content-wrapper a:hover {
    color: var(--hnn-violet);
}

body.dark-mode code {
    color: var(--hnn-violet);
    background-color: #d3d3d3;
}

.sidebar.dark-mode {
    background-color: #313438;
    border-right: 2px solid #d3d3d3 !important;
}

/* Change font size */
/* ---------------- */

.dropdown {
    height: inherit;
    align-items: center;
    position: relative;
    display: inline-flex;
    font-size: 20px;
    cursor: pointer;
    background: none;
    color: #bababa;
    border: none;
}

.dropdown-button {
    all: unset;  /* Remove default button styles */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px 10px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width:  95px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
  }

#dropdownButton span {
    font-family: 'Merriweather', Georgia, serif;
}

.fontsize-btn {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 20px;
    cursor: pointer;
    background: none;
    color: #bababa;
    padding: 5px 10px;
    border: none;
}

.fontsize-btn:hover {
    color: #444;
}
    
/* 
# --------------------
# Responsiveness
# -------------------- 
*/

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* 
# --------------------
# Variables 
# -------------------- 
*/

/* Custom HNN colors */
/* ----------------- */
.hnn-blue { color: #1156A3; }
.hnn-purple { color: #474095; }
.hnn-violet { color: #812A89; }
.hnn-yellow { color: #e5a734; }

:root {
    --hnn-blue: #1156A3;
    --hnn-purple: #474095;
    --hnn-violet: #812A89;
    --hnn-yellow: #e5a734;
}