
        <!-- footer area -->
        <!----------------->
        <div class="footer-area">
            <div class="previous-area" data-link="None">
                <div class="previous-icon">
                    <svg class="svg-arrow" width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arrow-path" d="M15 5L9 12L15 19" />
                    </svg>
                </div>
                <div class="previous-text">
                    <p>Previous</p>
                    <a>PreviousTitle</a>
                </div>
            </div>
            <div class="next-area" data-link="None">
                <div class="next-text">
                    <p>Next</p>
                    <a>NextTitle</a>
                </div>
                <div class="next-icon">
                    <svg class="svg-arrow" width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arrow-path" d="M15 5L9 12L15 19" />
                    </svg>
                </div>
            </div>
        </div> <!-- close footer -->
    </div> <!-- close content -->
    </div> <!-- close content wrapper -->
</div> <!-- close main -->